table{
    border-collapse: collapse;
    border: 1px solid #000;
}
td{
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 12px;
    position: relative;
}
.pixel-index{
    font-size: 3px;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    color: #000;
    
}
td.pixel {
    width: 18px;
    height: 18px;
    border: 0;
}
#degub{
    position: relative;
    
    float: right;
    padding-right: 20%;
}