td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 18px;
    position: relative;
}
td.pixel {
    width: 4px;
    height: 4px;
    border: 0;
}
.pixel-index {
    font-size: 7px;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 1px;
    color: #927450;
}